ul{
    color: #fff;
    margin-top: 50px;
    
}
li{
    font-size: 20px;
    
}
h2{
    text-align: center;
    justify-content: space-between;
    color: #fff;
    font-size: 35px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
}